.article {
  @import "../syntax_hilightinh_themes/light";
  @extend .content;

  font-size: 1.125rem;
  word-wrap: break-word;
  line-height: 1.7rem;

  &__publishing_date {
    color: $secundary_text_color;
    display: block;
    font-size: 1rem;
    font-style: italic;
  }

  &__estimated_reading_time {
    color: $secundary_text_color;
    display: block;
    font-style: italic;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h4 {
    font-size: 1.175rem;
    line-height: 1.675rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h5 {
    font-size: 1.0875rem;
    line-height: 1.5875rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  table {
    @extend .table;

    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
  }

  table > thead > tr > th, table > tbody > tr > td {
    // border: 1px solid $ternary_text_color;
    padding: .3rem;
  }

  figure {
    margin: 0;
    text-align: center;

    figcaption {
      color: $secundary_text_color;
      font-size: 1rem;
    }
  }

  p img, figure img, picture img  {
    aspect-ratio: var(--image-aspect-ratio, unset);
    border-radius: 0.15rem;
    display: block;
    max-width: 100%;
    height: auto;
  }

  pre {
    white-space: pre-wrap;
  }

  .highlight .c1 {
    color: #6f6f63;
  }

  div.highlight {
    background-color: unset;
  }

  div.highlight::after {
    color: $secundary_text_color;
    content: attr(alt);
    display: block;
    margin-top: 1rem;
    font-family: $text_font;
    padding: 0 1rem;
    text-align: center;
  }

  code {
    border: 1px solid $code_border_color;
    padding: .1rem .3rem;
    border-radius: .15rem;
    background: $inline_code_background;
  }

  pre {
    border: 1px solid $code_border_color;
    padding: .1rem .3rem;
    border-radius: .15rem;
    background: $inline_code_background;
  }

  pre > code {
    border: unset;
    background: unset;
    border-radius: .375rem;
    display: block;
    font-family: $monospace_fonts;
    width: 100%;
    overflow-x: auto;
    padding: .5rem;
    white-space: pre;
  }

  code.inline {
    background: $inline_code_background;
    padding: .1rem .3rem;
    border-radius: .125rem;
  }

  hr {
    border: 1px;
    border-style: dotted hidden hidden hidden;
    color: $ternary_text_color;
  }

  &__links {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    & &__title {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    & &__tags {
      flex-grow: 1;
    }

    & &__analytics {
      text-align: right;
    }

    &__link {
      margin-right: .5rem;
    }

    &__link:last-child {
      margin-right: 0;
    }

    &__link__icon {
      width: auto;
      height: 1rem;
    }
  }

  &__suggestions {
    margin-bottom: 1rem;

    &__title {
      margin: 1rem 0 .5rem;
    }

    &__articles {
      display: flex;
      flex-direction: column;

      .article_suggestion + .article_suggestion {
        margin-top: 2rem;
      }
    }
  }
}

@mixin article_dark_color_scheme {
  div.highlight {
    background: none;
  }

  .highlight .nf {
    color: #e34646;
  }

  &__subtitle_content__timestamp {
    color: $darkmode_secundary_text_color;
  }

  &__subtitle_content__estimated_reading_time {
    color: $darkmode_secundary_text_color;
  }

  code, pre {
    border-color: $darkmode_code_border_color;
    background-color: $darkmode_inline_code_background;
  }

  pre::after {
    color: $darkmode_secundary_text_color;
  }

  code.inline {
    background: $darkmode_inline_code_background;
  }

  figure figcaption {
    color: $darkmode_secundary_text_color;
  }
}

