# Ignore dependency manager configuration
./.bundle
.yarn-integrity

# Ignore installed dependencies
./node_modules
./.cache
./.mozilla
./.webdrivers

# Ignore logfiles
./log/*
!./log/.keep
./yarn-error.log
.byebug_history
yarn-debug.log*

# Ignore tempfiles
./public/uploads/*
!./public/uploads/.keep
./tmp/*
!./tmp/.keep
./tmp/pids/*
!./tmp/pids/
!./tmp/pids/.keep
./storage/*
!./storage/.keep

# Ignore build artefacts
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets
/public/packs
/public/packs-test

# Ignore encryption secrets
.env
.env.*
/config/master.key
/config/credentials/*.key
/config/credentials/production.yml.enc
!/config/credentials/development.key
!/config/credentials/test.key

# Ignore editor and OS artefacts and configuration
.DS_Store
*.swap
/tags

# Data not used in the docker image
Dockerfile
.gitignore
.dockerignore
/.kamal
/.git
/.ruby-lsp
/tests
/docs
