# Ignore dependency manager configuration
/.bundle
.yarn-integrity

# Ignore installed dependencies
/node_modules
/vendor

# Ignore logfiles
/log/*
!/log/.keep
/yarn-error.log
.byebug_history
yarn-debug.log*

# Ignore tempfiles
/public/uploads/*
!/public/uploads/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore build artefacts
/public/assets
/public/packs
/public/packs-test

# Ignore encryption secrets
/config/master.key
/config/credentials/*.key
!/config/credentials/development.key
# Since this repo is public I don't want peopple to gain access to real
# production secrets through brute forcing the encryption key. Out of precaution
# I'll remove this file from Git and add it manually to the server.
/config/credentials/production.yml.enc

# Ignore OS specific files
.DS_Store

# Ignore editor artefacts and configuration
*.swap
/tags

# Data not used in the docker image
Dockerfile
.gitignore
.dockerignore
.ruby-version
/.git
/tests
