$amaranth: #e61e49;
$black: #000;
$gray_blue: #58606a;
$hot_pink: #ffae88;
$light_gray: #979797;
$light_gray_orange: #fdf6e3;
$minsk: #313276;
$very_dark_blue: #11101E;
$very_dark_cyan: #002b36;
$very_light_blue: #f7fafc;
$very_pale_orange: #fff8f0;
$vivid_orange: #dd6b20;
$white: #f8f8f8;

$serif_fonts: Georgia, Cambria, "Times New Roman", Times, serif;
$sans_serif_fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$monospace_fonts: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$content_width: 40rem;

$background: $very_pale_orange;
$primary_text_color: $very_dark_blue;
$secundary_text_color: $gray_blue;
$ternary_text_color: $gray_blue;
$link_color: $vivid_orange;
$link_visited_color: $link_color;

$darkmode_background: $black;
$darkmode_primary_text_color: $very_light_blue;
$darkmode_secundary_text_color: $gray_blue;
$darkmode_ternary_text_color: $gray_blue;

$box_shadow_args: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

$darkmode_box_shadow_args: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);

$text_font: $serif_fonts;

$separator_color: $light_gray;

$code_border_color: $vivid_orange;
$inline_code_background: $white;

$darkmode_code_border_color: $vivid_orange;
$darkmode_inline_code_background: $very_dark_cyan;

$subscribe_rss_background_color: $hot_pink;
$subscribe_rss_text_color: $minsk;
$subscribe_rss_icon_color: $amaranth;
$subscribe_rss_link_color: $subscribe_rss_text_color;

$darkmode_subscribe_rss_background_color: $minsk;
$darkmode_subscribe_rss_text_color: $hot_pink;
$darkmode_subscribe_rss_icon_color: $vivid_orange;
$darkmode_subscribe_rss_link_color: $vivid_orange;

$analytic_tables_background_color: #feebc8;
$analytic_tables_header_background_color: #fbd38d;
$analytic_tables_border_color: $analytic_tables_header_background_color;
$analytic_tables_link_color: #c05621;

$darkmode_analytic_tables_background_color: #718096;
$darkmode_analytic_tables_header_background_color: $gray_blue;
$darkmode_analytic_tables_border_color: $darkmode_analytic_tables_header_background_color;
$darkmode_analytic_tables_link_color: #feebc8;

$link_preview_popup_width: #{0.75 * $content_width};
$link_preview_background_color: $background;
$link_preview_border_radius: 0.125rem;
$link_preview_border_color: $light_gray;

$darkmode_link_preview_background_color: $darkmode_background;
$darkmode_link_preview_border_color: $link_preview_border_color;
