@import './variables';
@import '~include-media/dist/include-media';

@include media('<phone') {
  html {
    font-size: 1rem;
  }
}

@include media('>=phone', '<tablet') {
  html {
    font-size: 1.2rem;
  }
}

@include media('>=tablet', '<desktop') {
  html {
    font-size: 1.35rem;
  }
}

@include media('>=desktop') {
  html {
    font-size: 1.5rem;
  }
}

@include media('>=desktop', 'retina2x') {
  html {
    font-size: 1.7rem;
  }
}

@include media('>=desktop', 'retina3x') {
  html {
    font-size: 1.8rem;
  }
}

// @include media(mobile) {
//   html {
//     font-size: 2rem;
//   }
// }

// @include media(tablet) {
//   html {
//     font-size: 1.3rem;
//   }
// }

// @include media(tablet, landscape) {
//   html {
//     font-size: 1.3rem;
//   }
// }

// @include media(desktop) {
//   html {
//     font-size: 1rem;
//   }
// }

// @include media(large) {
//   html {
//     font-size: 2rem;
//   }
// }

html, body {
  color: $primary_text_color;
  height: 100%;
  line-height:1.15;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  background: $background;
}

body {
  display: flex;
  font-family: $text_font;
  flex-direction: column;
}

body > main {
  flex: 1 0 auto;
}

body > footer {
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading_text_color;
  font-family: $sans_serif_fonts;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     background: $darkmode_background;
//   }

//   html, body {
//     color: $darkmode_primary_text_color;
//   }
// }

/******************************************************************************
 **                                COMPONENTS                                **
 ******************************************************************************/
@import './components/article_search';
@import './components/article_suggestion';
@import './components/articles_list';
@import './components/chevron';
@import './components/content';
@import './components/emphesis';
@import './components/footer';
@import './components/header';
@import './components/hidden';
@import './components/icons';
@import './components/link_preview';
@import './components/links';
@import './components/pagination';
@import './components/popup';
@import './components/spinner';
@import './components/subscribe';
@import './components/table';
@import './components/turbo_progress_bar';

/******************************************************************************
 **                                  PAGES                                   **
 ******************************************************************************/
@import './pages/about';
@import './pages/analytics';
@import './pages/article';

/******************************************************************************
 **                            COLOR SCHEME SELECTION                        **
 ******************************************************************************/
@import './color_scheme';
