.color_scheme * {
  transition: background-color 120ms, color 120ms;
}

.color_scheme_switch_container {
  align-items: center;
  cursor: pointer;
  display: flex;

  .color_scheme_switch {
    margin-left: .3rem;
  }
}

.color_scheme_switch {
  background: none;
  border: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  cursor: pointer;

  &__icon {
    &--auto {
    }

    &--light {
    }

    &--dark {
    }
  }
}

.color_scheme.color_scheme--automatic {
  .color_scheme_switch__icon {
    &--auto {
    }

    &--light {
      display: none;
    }

    &--dark {
      display: none;
    }
  }
}

.color_scheme.color_scheme--light {
  .color_scheme_switch__icon {
    &--auto {
      display: none;
    }

    &--light {
    }

    &--dark {
      display: none;
    }
  }
}

.color_scheme.color_scheme--dark {
  background-color: $darkmode_background;
  color: $darkmode_primary_text_color;

  .color_scheme_switch__icon {
    &--auto {
      display: none;
    }

    &--light {
      display: none;
    }

    &--dark {
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $darkmode_heading_text_color;
  }

  .main {
    background-color: $darkmode_background;
  }

  .article {
    @extend .article--dark_color_scheme;
  }

  .articles_list {
    @extend .articles_list--dark_color_scheme;
  }

  .popup {
    @extend .popup--dark_color_scheme;
  }

  .subscribe {
    @extend .subscribe--dark_color_scheme;
  }

  .spinner {
    @extend .spinner--dark_color_scheme;
  }

  .analytics {
    @extend .analytics--dark_color_scheme;
  }

  .table {
    @extend .table--dark_color_scheme;
  }

  .header {
    @extend .header--dark_color_scheme !optional;
  }

  .article_suggestion {
    @extend .article_suggestion--dark_color_scheme;
  }

  .icon {
    @extend .icon--dark_color_scheme;
  }

  .article_search {
    @extend .article_search--dark_color_scheme;
  }
}
