h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-semibold
  text-stone-700 dark:text-white
  mb-4 mt-2;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}
