<section
  class="flex flex-col sm:flex-row gap-x-6 gap-y-6 justify-center my-6"
  data-infinite-scroll-target="paginationControls"
  id="pagination">

  <% unless page.first? %>
    <%= link_to url_for(page: params.fetch(:page, 2).to_i - 1), class: "text-indigo-600 hover:text-indigo-800 dark:text-yellow-500 dark:hover:text-yellow-400" do %>
      <%= text_with_icon(:arrow_long_left, t('.previous_page'), position: :before, wrapper: { class: "justify-center" }) %>
    <% end %>
  <% end %>
  <% unless page.last? %>
    <%= link_to url_for(page: page.next_param), data: { infinite_scroll_target: "nextButton" }, class: "text-indigo-600 hover:text-indigo-800 dark:text-yellow-500 dark:hover:text-yellow-400" do %>
      <%= text_with_icon(:arrow_long_right, t('.next_page'), position: :after, wrapper: { class: "justify-center" }) %>
    <% end %>
  <% end %>

  <template data-infinite-scroll-target="loadingIndicatorTemplate">
    <div class="flex justify-center">
      Loading more articles...
    </div>
  </template>

</section>
