<article class="px-2 md:px-0 flex flex-col gap-y-4">
  <div class="flex flex-row gap-x-4">
    <span><%= link_to text_with_icon(:arrow_long_left, t(".back")), article_path(@article), class: "text-indigo-600 hover:text-indigo-800 dark:text-indigo-500 dark:hover:text-indigo-400" %></span>
  </div>

  <div>
    <%= render "form", article: @article %>
  </div>
</article>
