<% content_for :head do %>
  <title>Articles | Stanko K.R.</title>
  <%= content_tag(:link, nil, rel: "canonical", href: articles_url) %>
  <% seo_meta_tags(
    title: "Articles",
    description: "Collection of articles about Ruby, Rails, and software development",
    url: articles_url
  ).each { |tag| concat tag } %>
<% end %>

<div data-controller="infinite-scroll">
  <section class="mb-4 px-2 md:px-0">
    <h1 class="text-4xl font-semibold">Articles</h1>
  </section>

  <% if Current.user.present? %>
    <div class="flex flex-row gap-x-4">
      <%= link_to t(".new"), new_article_path, class: primary_button_classes %>
    </div>
  <% end %>

  <section>
    <% if @articles.any? %>
      <%= article_list(@articles, id: "articles") %>
    <% else %>
      <p>No articles were found</p>
    <% end %>
  </section>

  <%= paginate page: @page %>
</div>
