<li class="timeline__item">
  <div class="timeline__inner">

    <%= link_to "", talk, class: "timeline__link" %>

    <div class="timeline__content">
      <div class="timeline__title">
        <%= talk.title %>
      </div>

      <div class="timeline__meta">
        <div class="timeline__meta-event">
          <%= talk.event %>
        </div>
        <div>
          <%= l(talk.held_at.to_date) %>
        </div>
      </div>
    </div>

    <div class="timeline__dot"></div>

    <div class="timeline__line"></div>

  </div>
</li>
