<div class="card w-full">
  <% if local_assigns.key?(:title) %>
    <div>
      <div class="flex flex-row">
        <h2 class="font-semibold txt-3xl margin-block-end-4 flex-grow"><%= title %></h2>
        <%= local_assigns[:actions] %>
      </div>
      <hr class="margin-block-end-6">
    </div>
  <% end %>
  <div>
    <%= local_assigns.fetch(:content, yield) %>
  </div>
</div>
