# Name of your application. Used to uniquely configure containers.
service: blog

# Name of the container image.
image: monorkin/blog

# Deploy to these servers.
servers:
  web:
    - shire.stanko.io

# Proxy settings
proxy:
  ssl: true
  host: stanko.io
  app_port: 80
  healthcheck:
    path: /up
    interval: 6
    timeout: 10

# Credentials for your image host.
registry:
  server: ghcr.io
  username: <%= ENV["GITHUB_USERNAME"] || `gh auth status`.scan(/github.com account ([^\s]+)\s/).flatten.first %>
  password:
    - KAMAL_REGISTRY_PASSWORD

# Docker image builder configuration
builder:
  arch:
    - amd64

# Inject ENV variables into containers (secrets come from .env).
env:
  clear:
    RAILS_ENV: "production"
    RAILS_MAX_THREADS: "3"
    WEB_CONCURRENCY: "8"
    REDIS_URL: "redis://redis.stanko.io:6379/0"
  secret:
    - RAILS_MASTER_KEY
    - SENTRY_DSN

# Call a broadcast command on deploys.
# audit_broadcast_cmd:
#   bin/broadcast_to_bc

builder:
  arch:
    - amd64
  args:
    REVISION: "<%= `git log --pretty=format:'%h' -n 1` %>"

# Use a different ssh user than root
ssh:
  user: ubuntu

# Use a persistent storage volume.
volumes:
  - "/home/ubuntu/container_data/blog/credentials/:/rails/config/credentials/:ro"

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"
