<% if previous_article.present? || next_article.present? %>
  <nav class="article-nav">
    <% if previous_article.present? %>
      <div class="article-nav__item article-nav__item--previous">
        <div class="article-nav__label">&larr; <%= t(".previous_article") %></div>
        <%= link_to previous_article.title, article_path(previous_article), class: "article-nav__link" %>
      </div>
    <% end %>
    <% if next_article.present? %>
      <div class="article-nav__item article-nav__item--next">
        <div class="article-nav__label"><%= t(".next_article") %> &rarr;</div>
        <%= link_to next_article.title, article_path(next_article), class: "article-nav__link" %>
      </div>
    <% end %>
  </nav>
<% end %>
