<% if popular_articles.any? %>
  <div class="related-articles">
    <h2 class="related-articles__title"><%= t(".popular_articles") %></h2>
    <ul class="related-articles__list">
      <% popular_articles.limit(3).each do |article| %>
        <li>
          <%= link_to article.title, article_path(article), class: "related-articles__link" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
