.btn {
  @apply inline-block
  m-1 px-4 py-3 md:px-2 md:py-1
  bg-transparent hover:bg-sky-600
  text-sky-600 hover:text-white text-center
  md:hover:drop-shadow md:hover:scale-110
  border border-sky-600
  rounded-full
  select-none
  cursor-pointer
  transition-colors transition-shadow transition-transform ease-out;
}

.btn.btn--inverted {
  @apply border-white
  bg-transparent hover:bg-white
  text-white dark:text-white hover:text-sky-600 dark:hover:text-sky-600
}

.btn.btn--block {
  @apply block;
}

.btn.btn--lg {
  @apply px-4 py-3 sm:px-4 sm:py-3;
}

.btn.btn--radio {
  @apply m-0 md:scale-100 break-normal;
}

.btn.btn--radio + .btn.btn--radio {
  @apply border-l-0;
}

.btn.btn--dropdown {
  @apply md:relative
  cursor-pointer;
}

.btn.btn--dropdown[open] {
  @apply md:drop-shadow md:scale-110 bg-sky-600 text-white;
}

.btn.btn--dropdown .btn__menu {
  @apply fixed top-0 left-0 md:left-auto md:absolute md:top-0
  px-4 py-1
  md:rounded-2xl
  overscroll-contain touch-none
  cursor-auto select-text
  min-w-0 min-h-0
  w-0 h-0
  bg-gradient-to-tr from-sky-500 to-indigo-500;
}

.btn.btn--dropdown[open] .btn__menu {
  @apply min-w-full min-h-full
  w-screen h-screen md:w-fit md:h-fit
  pt-16 md:pt-8 pb-4
  md:shadow-lg
  z-10;
}

.btn.btn--dropdown summary {
  @apply flex flex-row items-center;
}

.btn.btn--dropdown summary > .icon {
  @apply mr-1;
}

.btn.btn--dropdown summary::marker,
.btn.btn--dropdown summary::-webkit-details-marker,
.btn.btn--dropdown summary::after {
  @apply hidden;
  content: "";
}

.btn.btn--dropdown[open] summary::after {
  @apply inline-block
  absolute top-2 z-20
  w-12 h-12 md:w-6 md:h-6
  p-3 md:p-1
  rounded-full
  leading-tight md:leading-none md:text-xs text-center
  border border-inherit;
  content: "⨉";
}

.btn.btn--dropdown.btn--right-anchored-dropdown .btn__menu {
  @apply md:right-0;
}

.btn.btn--dropdown.btn--right-anchored-dropdown[open] summary::after {
  @apply right-2;
}

.btn.btn--dropdown.btn--left-anchored-dropdown .btn__menu {
  @apply md:left-0;
}

.btn.btn--dropdown.btn--left-anchored-dropdown[open] summary::after {
  @apply left-2;
}

.btn__menu {
}

.btn.btn--dropdown .btn__menu.btn__menu--wide {
  min-width: 16rem;
}

.btn__menu__item {
  @apply mt-2;
}

.btn__menu__item.btn__menu__item--header {
  @apply absolute
  m-4 md:m-1
  top-1 md:top-0
  cursor-default select-none
  uppercase;
}

.btn.btn--dropdown.btn--left-anchored-dropdown .btn__menu__item.btn__menu__item--header {
  @apply left-16 md:left-8 ml-0 md:ml-2;
}

.btn.btn--dropdown.btn--right-anchored-dropdown .btn__menu__item.btn__menu__item--header {
  @apply right-16 md:right-8 mr-0 md:mr-2;
}

.btn__menu__item__title {
  @apply text-xs
  font-semibold font-sans
  whitespace-nowrap
  uppercase
  text-start
  mb-2;
}
