trix-editor {
  @apply border-0;
}

.trix-content {
  @apply prose dark:prose-invert
  prose-figure:flex prose-figure:flex-col prose-figure:items-center
  prose-img:rounded prose-img:shadow prose-img:max-h-[70vh]
  prose-video:rounded prose-video:shadow prose-video:max-h-[70vh] prose-video:my-0
  prose-pre:rounded prose-pre:shadow prose-pre:text-stone-600 prose-pre:dark:text-slate-200
  prose-code:bg-gray-900 prose-code:text-blue-50 prose-code:rounded prose-code:p-1
    prose-code:before:content-none prose-code:after:content-none;
}

.trix-content br {
  @apply mb-4;
}

.trix-content pre {
  @apply bg-white dark:bg-slate-900
}

.trix-content .attachment {
  @apply flex;
}

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/

/* .trix-content .attachment-gallery > action-text-attachment,*/
/* .trix-content .attachment-gallery > .attachment {*/
/*   flex: 1 0 33%;*/
/*   padding: 0 0.5em;*/
/*   max-width: 33%;*/
/* }*/

/* .trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,*/
/* .trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,*/
/* .trix-content .attachment-gallery.attachment-gallery--4 > .attachment {*/
/*   flex-basis: 50%;*/
/*   max-width: 50%;*/
/* }*/

/* .trix-content action-text-attachment .attachment {*/
/*   padding: 0 !important;*/
/*   max-width: 100% !important;*/
/* }*/

.attachment__caption.attachment__caption--editing {
  @apply w-full;
}

trix-toolbar {
  @apply sticky top-0 pt-4 z-20 backdrop-blur-xl border-b bg-orange-50/80;
}

.trix-button-group {
  @apply bg-white shadow;
}

.trix-button-group.trix-button-group--history-tools {
  @apply md:hidden;
}
