/* @import "rails.css";*/
@import "https://unpkg.com/trix@2.0.0/dist/trix.css";
@import "actiontext.css";
@import "./components/link_preview.css";
@import "./components/popup.css";
@import "./components/rich_text.css";
@import "./components/highlight.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen(sm) {
  html {
    font-size: 18px;
  }
}

@media screen(md) {
  html {
    font-size: 20px;
  }
}

@media screen(lg) {
  html {
    font-size: 22px;
  }
}

@media screen(xl) {
  html {
    font-size: 24px;
  }
}

@media screen(2xl) {
  html {
    font-size: 26px;
  }
}
