.articles_list {
  line-height: 1.7rem;
}

.articles_list__article + .articles_list__article:before {
  background-color: $separator_color;
  content: ' ';
  display: block;
  height: 1px;
  margin: 3rem 33%;
  width: 33%;
}

.articles_list__article__meta {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.articles_list__article__meta__group {
  flex-grow: 1;

  &--large {
    flex-basis: 10em;
  }
}

.articles_list__article__meta__group__timestamp {
  color: $secundary_text_color;
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  text-align: left;
}

.articles_list__article__meta__group__reading_time {
  color: $secundary_text_color;
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  text-align: left;
}

.articles_list__article__meta__group__tags {
  color: $secundary_text_color;
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  flex-grow: 2;
  text-align: right;

  a {
    color: $secundary_text_color;
    line-break: anywhere;
    margin-right: .3rem;

    &:visited {
      color: $secundary_text_color;
    }
  }
}

.articles_list__article__title h2 {
  font-size: 2rem;
}

.articles_list__article__image img {
  border-radius: 0.15rem;
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 120ms;

  &:hover {
    transform: scale(1.05);
  }
}

.articles_list__article__image picture > * {
}

.articles_list.articles_list--dark_color_scheme {
  .articles_list__article__meta__group__timestamp {
    color: $darkmode_secundary_text_color;
  }

  .articles_list__article__meta__group__reading_time {
    color: $darkmode_secundary_text_color;
  }

  .articles_list__article__meta__group__tags {
    color: $darkmode_secundary_text_color;

    a {
      color: $darkmode_secundary_text_color;

      &:visited {
        color: $darkmode_secundary_text_color;
      }
    }
  }

  .articles_list__article__image figure figcaption {
    color: $darkmode_secundary_text_color;
  }
}
