.header {
  background: $background;
  font-family: $sans_serif_fonts;
  min-height: 2.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 200ms, box-shadow 300ms, background-color 120ms, color 120ms !important;

  & + .main {
    margin-top: calc(2.8rem + 3rem);
  }

  &--floating {
    box-shadow: $box_shadow_args;
  }

  &__container {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;

    &__links {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: left;
      align-items: center;
      align-content: stretch;

      a {
        @extend .pill_link, .pill_link--grow;
        font-size: 1rem;
        margin-right: 0.5rem;

        &:after {
          content: '';
        }
      }

      a + a {
        margin-left: 0.5rem;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      align-content: stretch;
      white-space: nowrap;
      width: 20%;
    }
  }
}

@include media('<tablet') {
  .header .header__container__actions {
    width: unset;
  }
}

@mixin header_dark_color_scheme {
  background: $darkmode_background;

  &--floating {
    box-shadow: $darkmode_box_shadow_args;
  }
}
