.link_preview {
  display: flex;
  flex-direction: column;

  &__image {
    order: 1;
    max-height: 10rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    order: 2;
    padding: .5rem;

    p {
      line-height: 1.4rem;
    }

    h6 {
      font-size: 1.25rem;
      line-height: 1.7rem;
      margin: .3rem 0;
    }
  }
}

[data-popper-placement^='bottom'] {
  .link_preview {
    flex-direction: column-reverse;
  }
}

// [data-popper-placement^='left'] {
//   .link_preview {
//     flex-direction: row;
//   }
// }

// [data-popper-placement^='right'] {
//   .link_preview {
//     flex-direction: row-reverse;
//   }
// }
