.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;

  .pagination__button {
    font-weight: bold;
    flex-grow: 1;
    padding: 0.5rem;
    text-align: center;
  }
}
