.table {
  border-collapse: collapse;
  margin: 1rem 0;
  table-layout: auto;
  width: 100%;

  thead tr th {
    color: $tables_header_text_color;
    text-align: left;
  }

  thead tr:first-child {
    th:first-child {
    }

    th:last-child {
    }
  }

  tr {
    border: 1px solid $tables_border_color;
  }

  tbody tr:last-child {
    td {
      border-bottom: 0;
    }

    td:first-child {
    }

    td:last-child {
    }
  }

  td, th {
    background: $tables_background_color;
    padding: .5rem;
  }

  td {
    border-bottom: 1px solid $tables_border_color;
  }

  td a, td a:visited {
    // color: $tables_link_color;
  }

  td:first-child {
    font-weight: bold;
  }

  th {
    background: $tables_header_background_color;
  }
}

.table--dark_color_scheme {
  thead tr th {
    color: $darkmode_tables_header_text_color;
  }

  tr {
    border: 1px solid $darkmode_tables_border_color;
  }

  td, th {
    background: $darkmode_tables_background_color;
  }

  td {
    border-color: $darkmode_tables_border_color;
  }

  th {
    background: $darkmode_tables_header_background_color;
  }
}
